.featured-item {
    background-image: url('../../../assets/home/featured.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

@media screen and (max-width: 576px) {
    .featured-item {
        background-position: center;
    }
}