/* .swiper-wrapper {
    transform: none !important;
} */

.swiper-pagination {
    position: static;
    margin-top: 25px;
}

.swiper-pagination-bullet {
    height: 15px;
    width: 15px;
    margin: 0px 12px;
}